h1,
h3 {
  font-weight: 700 !important;
  color: rgba(1, 113, 121, 0.7);
}

p {
  font-weight: 300;
  text-align: justify;
  max-width: 80%;
}

.welcomeBack {
  display: flex;
  justify-content: space-between;
  background-color: rgba(1, 113, 121, 0.1);
  border-radius: 10px;
  padding: 2% 4%;
  border-left: 10px solid rgba(1, 113, 121, 0.4);
}

.welcomeBack .contentText {
  max-width: 50%;
  line-height: 180%;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.contentText h3 {
  font-size: 1.3rem;
}

.contentImg img {
  width: 250px;
  object-fit: cover;
  /* border-radius: 80px; */
}

@media only screen and (max-width: 768px) {
  .contentImg {
    display: none;
  }
  .contentText {
    max-width: 100% !important;
  }
}
